/* GENERAL */
html,
body {
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
}

.bg-tan {
  background: #f5f3e8;
}

.bg-ar-red {
  background: #F73845;
}

.text-ar-red {
  color: #F73845;
}

.mt-8 {
  margin-top: 8em;
}

/* --------------------------------------------------- */
/* INDEX PAGE */
/* Wheel Carousel Section */
.carousel-container {
  height: 890px;
  background-image: url("../images/shelbygt500.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Top Bar */
.carousel-list-tabs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  white-space: nowrap;
}

.carousel-list-item {
  background: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, .5);
  text-align: center;
  height: 100%;
  position: relative;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.carousel-item-text:after {
  content: "";
  position: absolute;
  height: 0px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(0deg, rgba(45, 84, 253, 1) 50%, rgba(232, 82, 82, 1) 50%);
  -webkit-transition: height .2s, opacity .2s;
  -moz-transition: height .2s, opacity .2s;
  -ms-transition: height .2s, opacity .2s;
  transition: height .2s, opacity .2s;
}

.active-tab {
  color: rgba(255, 255, 255, 1);
}

.carousel-list-item:hover > .carousel-item-text:after {
  height: 5px;
  opacity: 1;
}

.carousel-list-item.active-tab > .carousel-item-text:after {
  height: 5px;
  opacity: 1;
}

.carousel-list-item:hover {
  color: rgba(255, 255, 255, 1);
}

/* Carousel Pages */
.carousel-brand-info {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 0px;
}

.carousel-brand-info button {
  border-radius: 0;
}

.carousel-brand-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #F9F8F0;
}

.index-wheel-image {
  height: 175px;
  width: 175px;
}

@media screen and (max-width:400px) {
  .w-50 {
    width: 80% !important;
  }
}

@media screen and (max-width:1307px) and (min-width:1199px) {
  .index-wheel-image:nth-child(odd){
    display: none !important;
  }

}

/* Timeline */
.section-headline {
  font-size: 2.5em;
  position: relative;
  padding-bottom: 20px;
  top: 45px;
  left: 20%;
  font-family: 'TeXGyreAdventorRegular';
  font-weight: bold;
  font-style: normal;
}

.timeline-container {
  background-color: #F9F8F0;
}

.timeline-title {
  font-family: 'TeXGyreAdventorRegular';
  font-weight: bold;
  font-style: normal;
  color: #F73845;
  margin-top: 10px;
}

.timeline-date {
  font-family: 'TeXGyreAdventorRegular';
  font-weight: normal;
  font-style: normal;
  margin-top: 5px;
  margin-bottom: -18px;
}

.read-more-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -66px;
}

.button-shadow {
  -webkit-box-shadow: 0px 10px 41px 6px rgba(128,128,128,0.48);
  -moz-box-shadow: 0px 10px 41px 6px rgba(128,128,128,0.48);
  box-shadow: 0px 10px 41px 6px rgba(128,128,128,0.48);
}

.timeline-posts div {
  width: 42vw;
}

.about-history.in-view:nth-child(even) {
  margin-top: 0px;
}

.timeline-container ul {
  padding: 50px 0;
}

.timeline-container ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  background: #B2B1AE;
}

.timeline-container ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.timeline-container ul li div {
  top: -72px;
  position: relative;
  width: 450px;
  padding: 15px;
  color: #3A3B40;
}

.timeline-container ul li div::before {
  content: '';
  position: absolute;
  top: 26px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline-container ul li:nth-child(odd) div {
  left: 45px;
}

.timeline-container ul li:nth-child(odd) div::before {
  height: 1px;
  width: 30px;
  left: -40px;
  border-width: 0 0 2px 0;
  border-color: #B2B1AE;
}

.timeline-container ul li:nth-child(even) div {
  text-align: right;
  left: -490px;
}

.timeline-container ul li:nth-child(even) div::before {
  height: 1px;
  width: 30px;
  right: -38px;
  border-width: 0 0 2px 0;
  border-color: #B2B1AE;
}

/* Animations */
.timeline-container ul li.in-view::after {
  background: #F73845;
}

.timeline-container ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline-container ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline-container ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline-container ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.blog-post-image {
  height: 200px;
  width: 400px;
}

/* Media Queries */
@media screen and (max-width:900px) {
  .section-headline {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .timeline-container ul li div {
    width: 250px;
  }

  .timeline-container ul li:nth-child(even) div {
    left: -320px;
  }

  .timeline-container ul li div::before {
    display: none;
  }
}

@media screen and (max-width:600px) {
  .timeline-container ul li {
    margin-left: 20px;
  }

  .timeline-container ul li div {
    width: calc(100vw - 95px);
  }

  .timeline-container ul li:nth-child(even) div {
    margin-top: 120px;
    left: 45px;
    text-align: left;
  }

  .timeline-container ul li:nth-child(even) div::before {
    height: 1px;
    width: 30px;
    left: -40px;
    border-width: 0 0 2px 0;
  }

  .timeline-container ul li.in-view:nth-child(even)::after {
    margin-top: 120px;
  }

  .blog-post-image {
    display: none;
  }
}

/* ===================================================================== */
/* ABOUT PAGE */
.about-hero {
  width: 100%;
  height: 90vh;
  background-image: url('../images/shelb.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.about-timeline-photo {
  background-image: url('../images/PALAMIDES.jpg');
  background-repeat: no-repeat;
  background-position: 0 -48px;
  background-size: cover;
}

.become-dealer-photo {
  height: 45em;
  background-image: url('../images/Cadi.jpeg');
  background-repeat: no-repeat;
  background-position: 0 -100px;
  background-size: cover;
}

/* American Racing Logo Text */
.collection-text-container {
  display: flex;
  align-items: flex-end;
}

.american-racing-stylized {
  font-family: sans-serif;
  font-size: 7rem;
  font-weight: bold;
  position: relative;
  z-index: 3;
  margin-top: 200px;
  padding-bottom: 5px;
  color: white;
  text-shadow: 0 0 45px rgba(0, 0, 0, .4);
}

.american-racing-stylized::before {
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 0;
  width: 100%;
  height: 15px;
  content: '';
  background: #ed3743;
}

.american-racing-stylized::after {
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 0;
  width: 100%;
  height: 15px;
  content: '';
  background: #0563af;
}

.video-container {
  height: 60vh;
  background-color: #000;
}

.video {
  width: 100%;
  height: auto;
  padding: 1em;
}

/* Timeline Above Photo */
.about-timeline-start {
  position: relative;
}

.about-timeline-photo {
  height: 75vh;
}

.about-timeline-start::before {
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  width: 2px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  content: '';
  background: #b2b1ae;
}

.about-timeline-start::after {
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  width: 10px;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
  content: '';
  border-radius: 50%;
  background: #ed3743;
}

/* about-Timeline */
.about-timeline {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 75px;
}

.about-timeline::before {
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  width: 2px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  content: '';
  background: #b2b1ae;
}

.about-timeline-title {
  font-family: 'TeXGyreAdventorRegular';
  font-weight: bold;
  font-style: normal;
  margin-top: 10px;
  color: #f73845;
}

.about-timeline-date {
  font-family: 'TeXGyreAdventorRegular';
  font-weight: normal;
  font-style: normal;
  margin-top: 5px;
  margin-bottom: -18px;
}

.about-timeline-posts div {
  width: 42vw;
}

.history-about-timeline {
  padding-top: 50px;
}

.history-about-timeline ul {
  padding: 49px 0;
}

.history-about-timeline ul li {
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  list-style-type: none;
  background: #b2b1ae;
}

.history-about-timeline ul li:last-child {
  width: 0 !important;
  height: 0 !important;
  margin-top: 50px !important;
}

.history-about-timeline ul li.in-view:last-child {
  height: 0 !important;
  margin-bottom: 75px !important;
  text-align: center !important;
}

.history-about-timeline ul li:last-child::after {
  position: absolute;
  top: -50px;
  left: calc(50% - 8px);
  left: -webkit-calc(50% - 8px);
  left: -moz-calc(50% - 9px);
  left: -o-calc(50% - 8px);
  width: 10px;
  height: 10px;
  content: '';
  transform: translateX(-50%);
  border-radius: 50%;
}

.history-about-timeline ul li::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  content: '';
  transform: translateX(-50%);
  border-radius: 50%;
}

.history-about-timeline ul li div {
  position: relative;
  top: -72px;
  width: 450px;
  padding: 15px;
  color: #3a3b40;
}

.history-about-timeline ul li div::before {
  position: absolute;
  top: 26px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
}

.history-about-timeline ul li:nth-child(odd) div {
  left: 45px;
  width: 37em;
}

.history-about-timeline ul li:nth-child(even) div p {
  left: 45px;
  width: 37em;
  margin-left: -175px;
}

.history-about-timeline ul li:nth-child(odd) div img {
  left: 45px;
  margin-left: -710px;
}

.history-about-timeline ul li:nth-child(even) div img {
  left: 45px;
  margin-left: 540px;
}

.history-about-timeline ul li:last-child div img {
  left: 45px;
  margin: 0;
}

.history-about-timeline ul li:nth-child(odd) div::before {
  left: -40px;
  width: 30px;
  height: 1px;
  border-width: 0 0 2px 0;
  border-color: #b2b1ae;
}

.history-about-timeline ul li:nth-child(even) div {
  left: -500px;
  text-align: right;
}

.history-about-timeline ul li:last-child div {
  width: 52vw;
  text-align: center;
}

.history-about-timeline ul li:nth-child(even) div::before {
  right: -47px;
  width: 30px;
  height: 1px;
  border-width: 0 0 2px 0;
  border-color: #b2b1ae;
}

.history-about-timeline ul li:last-child div::before {
  width: 0;
  height: 0;
  content: '';
}

/* Animations */
.history-about-timeline ul li.in-view::after {
  background: #f73845;
}

.history-about-timeline ul li div {
  visibility: hidden;
  transition: all .5s ease-in-out;
  opacity: 0;
}

.about-timeline-title:last-child {
  text-align: center;
}

.history-about-timeline ul li.in-view:last-child {
  display: flex;
  width: 100vw !important;
  height: 0 !important;
  margin-top: 50px !important;
  margin-bottom: 75px !important;
  padding: 0 !important;
  text-align: center !important;
  justify-content: center;
}

.history-about-timeline ul li:last-child {
  left: 0;
  width: 0 !important;
  height: 0 !important;
  margin-top: 50px !important;
}

.history-about-timeline ul li {
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  list-style-type: none;
  background: #b2b1ae;
}

.history-about-timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.history-about-timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.history-about-timeline ul li:last-child div {
  left: 0;
  width: 100vh;
  padding-top: 50px;
  transform: translate3d(0, 100px, 0);
}

.history-about-timeline ul li.in-view div {
  visibility: visible;
  transform: none;
  opacity: 1;
}

.blog-post-image {
  width: 600px;
  height: 400px;
  margin-top: -240px;
}

.blog-post-image:nth-child(odd) {
  margin-left: 240px;
}

/* Media Queries */
@media screen and (max-width:900px) {
  .history-about-timeline ul li:nth-child(even) div {
    left: 48px !important;
    width: 27em;
  }

  .history-about-timeline ul li div {
    width: 250px;
  }

  .history-about-timeline ul li div::before {
    display: none;
  }

  .become-dealer-photo {
    padding: 0 !important;
    background-position: -150px 0;
  }

  .about-timeline-photo {
    background-position: -175px -25px;
    background-size: 235%;
  }

  .american-racing-stylized {
    font-size: 4em;
    margin-bottom: 30rem;
  }

  .american-racing-stylized::after {
    bottom: 0;
  }

  .american-racing-stylized::before {
    top: 0;
  }

  .about-timeline-title {
    text-align: left;
  }

  .history-about-timeline ul {
    padding: 0;
  }

  .history-about-timeline ul li div {
    right: 0;
    left: 0;
    width: 25vw;
    margin: 0;
  }

  .about-timeline::before {
    display: none;
  }

  .history-about-timeline ul li:nth-child(even) div {
    left: 0;
    width: 85vw;
    margin-left: 0;
  }

  .history-about-timeline ul li:nth-child(odd) div {
    left: 0;
    width: 90vw;
    margin-left: 0;
  }

  .history-about-timeline ul li:nth-child(even) div p {
    width: 45vw;
    margin-left: 0;
    text-align: left;
  }

  .history-about-timeline ul li:last-child::after {
    left: 1px;
  }

  .history-about-timeline ul li.in-view:last-child div {
    width: 90% !important;
    margin: 0 auto;
    margin-bottom: 350px !important;
    margin-top: 0px;
    left: -10px !important;
  }

  .history-about-timeline ul li.in-view:last-child {
    margin-bottom: 265px !important;
  }

  .history-about-timeline ul li {
    margin-left: 20px;
  }

  .history-about-timeline ul li div {
    width: calc(100vw - 95px);
  }

  .about-hero {
    background-position: -100px 0;
  }

  .history-text {
    line-height: 2em;
  }

  h4.about-timeline-text {
    line-height: 1.5em;
  }

  .history-about-timeline ul li:nth-child(odd) div {
    left: 45px;
    width: 37em;
  }

  .history-about-timeline ul li:nth-child(even) div {
    left: 45px;
    width: 37em;
  }
}

@media screen and (max-width:600px) {
  .about-hero {
    background-position: -425px 0;
  }

  .video-container {
    height: 30vh;
  }

  .blog-post-image {
    display: none;
  }

  .history-about-timeline ul li:nth-child(even) div h1 {
    margin-left: -15px;
  }

  .history-about-timeline ul li:nth-child(even) div p {
    left: 5px !important;
    width: 20em !important;
  }

  .history-about-timeline ul li:nth-child(even) div {
    left: 15px !important;
    width: 20em !important;
  }

  .history-about-timeline ul li:nth-child(odd) div {
    left: 5px !important;
    width: 20em !important;
  }

  .history-about-timeline ul li.in-view:last-child div {
    width: 90% !important;
    margin: 0 auto;
    margin-bottom: 350px !important;
    margin-top: 0px;
    left: -10px !important;
  }

  .history-about-timeline ul li.in-view:last-child {
    margin-bottom: 285px !important;
  }

}

.get-started-button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.history-text {
  line-height: 2em;
}

h4.about-timeline-text {
  line-height: 1.5em;
}

@media screen and (max-width:1330px) {
  .history-about-timeline ul li:nth-child(odd) div {
    left: 45px;
    width: 27em;
  }

  .history-about-timeline ul li:last-child div {
    width: 59em !important;
  }

  .history-about-timeline ul li:nth-child(even) div p {
    left: 45px;
    width: 27em;
    margin-left: -15px;
  }

  .history-about-timeline ul li:nth-child(odd) div img {
    margin-top: -255px;
    margin-left: -565px;
  }

  .history-about-timeline ul li:nth-child(even) div img {
    margin-top: -230px;
  }

  .blog-post-image {
    width: 450px;
    height: 340px;
  }

  .home-blog-post-image:nth-child(odd) {
      margin-left: 0px;
  }
  .home-blog-post-image {
      width: 600px;
      height: 400px;
      margin-top: 0px;
  }

  .about-timeline-title {
    margin-right: -15px;
  }

}

@media screen and (max-width:500px) {
  .history-about-timeline ul li.in-view.py-5:last-child div {
    width: 19em !important;
    margin-top: -40px !important;
  }

  .history-about-timeline ul li.in-view:last-child {
    margin-bottom: 450px !important;
  }

}

@media screen and (min-width:1330px) {
  .about-hero {
    background-position: 0 -35px;
  }

}

@media screen and (min-width:1650px) {
  .about-hero {
    background-position: 0 -150px;
  }

}

/* ------------------------------------------------------------------------------ */

/* BLOG COLLECTION PAGE */
.blog-photo-container {
  height: 800px;
  background-image: url("../images/shelbygt500.jpeg");
  background-position: cover;
  width: 100%;
  position: relative;
}

.container-fader-helper {
  position: absolute;
  top: 775px;
  height: 25px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.61) 59%, rgba(17, 17, 17, 0.66) 39%, rgba(17, 17, 17, 1) 83%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.61) 59%, rgba(17, 17, 17, 0.66) 39%, rgba(17, 17, 17, 1) 83%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.61) 59%, rgba(17, 17, 17, 0.66) 39%, rgba(17, 17, 17, 1) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#262626', GradientType=0); /* IE6-9 */
}

.bg-262626 {
  background-color: rgba(17, 17, 17, 1) !important;
  display: block;
  overflow: auto;
  padding-bottom: 150px;
}

.blog-header-content-container {
  bottom: -525px;
  position: absolute;
  display: table-cell;
  padding-left: 50px !important;
}

.small-blog-post-photo {
  width: 100%;
  padding-bottom: 66%;
}

.small-blog-post-text {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  height: 150px;
}

.small-blog-post-text span {
  bottom: 15px;
  position: absolute;
}

.american-racing-stylized-blogs {
  width: 100%;
  color: white;
  font-size: 5rem;
  font-family: sans-serif;
  position: relative;
  padding-bottom: 0px;
  text-shadow: 0px 0px 45px rgba(0, 0, 0, .4);
  z-index: 3;
  bottom: 10px;
}

.american-racing-stylized-blogs::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  background: #ED3743;
  width: 100%;
}

.american-racing-stylized-blogs::after {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15px;
  background: #0563AF;
  width: 100%;
}

@media screen and (max-width:800px) {
  .american-racing-stylized-blogs {
    font-size: 3.5rem;
  }

  .blog-header-content-container {
    bottom: -20px;
    position: absolute;
    display: table-cell;
    padding-left: 15px !important;
  }

  .blog-photo-container {
    height: 500px;
    background-image: url("../images/shelbygt500.jpeg");
    background-position: cover;
    width: 100%;
    position: relative;
  }

}

/* -------------------------------------------------------------------------- */

/* background */
.blog-post {
  margin: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #E4E3D8, #E4E3D8  10%, #EFEEE7  10%, #EFEEE7  20%, #F7F6F4  20%, #F7F6F4  30%, #FFFFFF  30%);
}

.photo-container {
  height: 650px;
}

.blog-carousel-inner {
  height: 625px;
  display: flex;
  justify-content: center;
}

.blog-carousel-item {
  height: 500px;
  width: 100%;
}

.carousel-item.carousel-item-next {
  display: flex;
  align-items: center;
}

.blog-carousel-item.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item-left.carousel-item-next {
  display: flex;
  align-items: center;
}

.blog-photo {
  margin-top: 75px;
  height: 100%;
  width: 80%;
}

.blog-photo-large {
  width: 90%;
  padding-bottom: 60%;
  margin-left: 5%;
}

.small-photo {
  width: 30%;
  padding-bottom: 30%;
}

.small-photo-container {
  width: 80%;
  margin-left: 10%;
}

.mobile-photo-container {
  width: 100%;
}

/* ---------------------------------------------------------- */
/* COLLECTION PAGE */
.details-background {
  margin: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom right, #E4E3D8, #E4E3D8  10%, #EFEEE7  10%, #EFEEE7  20%, #F7F6F4  20%, #F7F6F4  30%, #FFFFFF  30%);
}

/* Left column */
.vehicle-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vehicle-image-bg {
  height: 250px;
  width: 90%;
  border-radius: 10px;
  position: relative;
}

.collection-vehicle-image {
  position: absolute;
  height: 150px;
  width: 80%;
}

.collection-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-dropdown {
  color: black;
}

.filter-dropdown:before {
  color: #F73845;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: "\f0d7";
}

.collapsed.filter-dropdown:before {
  color: #F73845;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: "\f0da";
}

.text-small {
  font-size: .8em;
  margin-top: -10px;
}

a,
a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.vehicle-title {
  margin-bottom: -0.5rem;
}

/* Right Column */
.wheel-collection-container-row {
  display: flex;
  justify-content: space-around;
}

.wheel-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wheel-details-image {
  padding-bottom: 100%;
  width: 100%;
}

/* Wheel Carousel Section */
/* Container */
.collection-carousel-container {
  height: 600px;
  margin-left: 0;
  background-image: url("../images/cover2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Top Bar */
.carousel-list-tabs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  white-space: nowrap;
}

.carousel-list-item {
  background: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, .5);
  text-align: center;
  height: 100%;
  position: relative;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.carousel-item-text:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(0deg, rgba(45, 84, 253, 1) 50%, rgba(232, 82, 82, 1) 50%);
  -webkit-transition: height .2s, opacity .2s;
  -moz-transition: height .2s, opacity .2s;
  -ms-transition: height .2s, opacity .2s;
  transition: height .2s, opacity .2s;
}

.active-tab {
  color: rgba(255, 255, 255, 1);
}

/* undeline for active and hover tabs */
.carousel-list-item:hover > .carousel-item-text:after {
  height: 5px;
  opacity: 1;
}

.carousel-list-item.active-tab > .carousel-item-text:after {
  height: 5px;
  opacity: 1;
}

.carousel-list-item:hover {
  color: rgba(255, 255, 255, 1);
}

/* BG IMAGES COLLECTION CAROUSEL */
/* ----------------------------------------- */

.carousel-item-af {
  padding-top: 15px;
  background: url("../images/collections/arforged.jpeg") no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.carousel-item-torq {
  padding-top: 15px;
  background: url("../images/collections/torq.jpeg") no-repeat center center;  
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.carousel-item-custom {
  padding-top: 15px;
  background: url("../images/collections/custom.jpeg") no-repeat center center ;  
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.carousel-item-heritage {
  padding-top: 15px;
  background: url("../images/collections/heritage2.jpeg") no-repeat center center ;  
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.carousel-item-modern {
  padding-top: 15px;
  background: url("../images/collections/modern.jpeg") no-repeat center center ;  
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.carousel-item-atx {
  padding-top: 15px;
  background: url("../images/collections/atx.jpeg") no-repeat center center ;  
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}





/* Carousel Pages */
.carousel-brand-info {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.carousel-brand-info button {
  border-radius: 0;
}

.collection-carousel-brand-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #F9F8F0;
}

/* American Racing Logo Text */
.collection-text-container {
  display: flex;
  align-items: flex-end;
  height: 475px;
}

.collection-page-text-container {
  display: flex;
  align-items: flex-end;
  height: 515px;
}

.collection-american-racing-stylized {
  color: white;
  font-size: 5rem;
  font-family: sans-serif;
  position: relative;
  padding-bottom: 0px;
  text-shadow: 0px 0px 45px rgba(0, 0, 0, .4);
  z-index: 3;
  bottom: 10px;
}

.collection-american-racing-stylized::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  background: #ED3743;
  width: 100%;
}

.collection-american-racing-stylized::after {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15px;
  background: #0563AF;
  width: 100%;
}

.padding-right-5 {
  padding-right: 3rem !important;
}

@media screen and (max-width:992px) {
  .padding-right-5 {
    padding-right: 0rem !important;
  }

  .collection-american-racing-stylized {
    margin-left: 15px;
    font-size: 4em;
    position: absolute;
    top: 10px;
    bottom: auto;
  }

  .collection-carousel-container {
    height: 450px;
  }

  .right-section-container {
    margin-top: 0 !important;
  }

}

/* Product Page */
html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

/* background */
.details-background {
  width: 100%;
  margin: 0;
  background: linear-gradient(to bottom right, #e4e3d8, #e4e3d8  10%, #efeee7  10%, #efeee7  20%, #f7f6f4  20%, #f7f6f4  30%, #fff  30%);
}

.product-buttons {
  font-size: .75rem;
}

.back-to-results{
  text-decoration: none;
}

.large-image {
  width: 100%;
  padding-bottom: 100%;
}

.small-image-container {
  justify-content: center;
  align-items: center;
}

.small-image {
  width: 100%;
  padding-bottom: 100%;
}

.vehicle-image {
  width: 100%;
  height: 450px;
}

.slide-in {
  position: relative;
  opacity: 0;
}

/*animation elements sliding in*/
.slide-in.slide-left {
  visibility: hidden;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -moz-transform: translate3d(-100px, 0px, 0px);
  -ms-transform: translate(-100px, 0px);
  -o-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
  opacity: 0;
}

.slide-in.slide-left.in-view {
  visibility: visible;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.slide-in.slide-right {
  visibility: hidden;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: translate3d(500px, 0px, 0px);
  -moz-transform: translate3d(500px, 0px, 0px);
  -ms-transform: translate(500px, 0px);
  -o-transform: translate(500px, 0px);
  transform: translate3d(500px, 0px, 0px);
  opacity: 0;
}

.slide-in.slide-right.in-view {
  visibility: visible;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

@media screen and (max-width:800px) {
  .mx-5 {
    margin: .25em !important;
  }

  .details-options-text {
    display: flex;
    flex-direction: column;
  }

  .details-options-icons {
    display: flex !important;
    flex-direction: column !important;
  }

  .product-buttons {
    font-size: .75rem;
  }

  .py-3 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
  }

  .finish-dropdown {
    white-space: nowrap;
  }

}

@media screen and (max-width:350px) {
  .product-buttons {
    font-size: .5rem;
  }

  .find-dealer {
    display: flex;
    justify-content: center;
  }

}

/* -------------------------------------------------------- */
/* Wheel Drop Down*/
.photo-container, .wheel-dropdown-container {
  box-sizing: content-box;
}

.wheel-dropdown-photo {
  height: 150px;
  border: solid 1em transparent;
}

.shop-collection-container {

}